{% extends "index.jinja" %}
{% block title %}
Activate Your Subscription
{% endblock %}

{% block content %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>Activate Your Subscription</h2>
					</header>

                                        <section>
                                            <p>
                                                <b>IMPORTANT:</b> Mr. Senko is still in pre-launch phase. We are collecting information
                                                about what open source projects have the most bugs and need to be fixed first!
                                                No money will be charged on your behalf. We will contact you when we launch!
                                            </p>
                                        </section>

                                        <section>
                                            <form method="post" action="https://obuvki41plus-otb.rhcloud.com/hooks/MrSenko/subscribe/">
                                                <div class="row uniform 50%">
                                                    <div class="12u$">
                                                        <h4>Personal information</h4>
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="name" id="name" value="" placeholder="Name" />
                                                    </div>
                                                    <div class="6u$ 12u$(xsmall)">
                                                        <input type="email" name="email" id="email" value="" placeholder="Email" />
                                                    </div>
                                                    <div class="6u 12u$(xsmall)">
                                                        <input type="text" name="github_username" id="github_username" value="" placeholder="GitHub username" />
                                                    </div>
                                                    <div class="6u$ 12u$(xsmall)">
                                                        <input type="text" name="twitter_username" id="twitter_username" value="" placeholder="Twitter username" />
                                                    </div>
                                                    <div class="12u$">
                                                        <h4>Select a subscription plan</h4>
                                                        <ul>
                                                            <li>
                                                                <input type="radio" id="plan-upstream" name="plan">
                                                                <label for="plan-upstream">UPSTREAM</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" id="plan-startup" name="plan">
                                                                <label for="plan-startup">START-UP</label>
                                                            </li>
                                                            <li>
                                                                <input type="radio" id="plan-enterprise" name="plan">
                                                                <label for="plan-enterprise">ENTERPRISE</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="12u$">
                                                        <ul class="actions">
                                                            <li><input type="submit" value="Subscribe" class="special" /></li>
                                                            <li><input type="reset" value="Reset" /></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
				</div>
			</section>
{% endblock %}
