{% extends "index.jinja" %}
{% block title %}
Activate Your Subscription
{% endblock %}

{% block content %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>Activate Your Subscription</h2>
					</header>
				</div>
			</section>
{% endblock %}
