{% extends "index.jinja" %}
{% block title %}
Thank You! - Mr. Senko
{% endblock %}

{% block content %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>Thank You For Your Support</h2>
					</header>
				</div>
			</section>
{% endblock %}
