<!DOCTYPE HTML>
<html>
	<head>
            {% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/html5shiv.js"></script><![endif]-->
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/skel.min.js"></script>
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/skel-layers.min.js"></script>
		{% include "init.js.html" %}
		<noscript>
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/skel.css" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style-xlarge.css" />
		</noscript>
            {% endblock %}
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" />
				<nav id="nav">
					<ul>
						<li><a href="{{ SITEURL }}/#how-it-works">How It Works</a></li>
						<li><a href="{{ SITEURL }}/#who-are-we">Who Are We</a></li>
						<li><a href="{{ SITEURL }}/#get-in-touch">Get In Touch</a></li>
						<li><a href="{{ SITEURL }}/blog/">Blog</a></li>
					</ul>
				</nav>
			</header>
{% if page and page.banner_title %}
        <section id="banner">
            <h2>{{ page.banner_title }}</h2>
            <p>
                {{ page.banner_subtitle }}
            </p>

        {% if page.show_button %}
            <ul class="actions">
                <li><a href="#start" class="button special big">Get Started</a></li>
            </ul>
        {% endif %}
    </section>
{% elif article %}
        <section id="banner">
            <h2>{{ article.title }}</h2>
            <p>
                {{ article.headline }}
            </p>
    </section>
{% endif %}

{% block content %}
{% endblock %}
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://github.com/MrSenko" class="icon fa-github"></a></li>
						<li><a href="https://twitter.com/Mr_Senko" class="icon fa-twitter"></a></li>
						<li><a href="https://bitbucket.org/MrSenko" class="icon fa-bitbucket"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 2016 Mr. Senko, Ltd.</li>
						<li>Design: TEMPLATED</li>
					</ul>
				</div>
			</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72200638-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-568b9305e58615ff"></script>
	</body>
</html>