<!DOCTYPE HTML>
<html>
	<head>
            {% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/html5shiv.js"></script><![endif]-->
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/skel.min.js"></script>
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/skel-layers.min.js"></script>
                <script src="{{ SITEURL }}/js/list-v1.2.0.min.js"></script>
		{% include "init.js.html" %}
		<noscript>
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/skel.css" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style-xlarge.css" />
		</noscript>

                <!-- Code highlight color scheme -->
                {% if COLOR_SCHEME_CSS %}
                    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
                {% else %}
                    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/darkly.css" rel="stylesheet">
                {% endif %}
            {% endblock %}
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
                            <a href="{{ SITEURL }}/">
				<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" />
                            </a>
				<nav id="nav">
					<ul>
						<li><a href="{{ SITEURL }}/blog/">Blog</a></li>
						<li><a href="{{ SITEURL }}/#who-are-we">Who Are We</a></li>
						<li><a href="{{ SITEURL }}/#get-in-touch">Get In Touch</a></li>
					</ul>
				</nav>
			</header>

            <section id="banner">
                {% block banner %}
                    {% if page and page.banner_title %}
                        <h2>{{ page.banner_title }}</h2>
                        <p>{{ page.banner_subtitle }}</p>

                        {% if page.action_button %}
                            <ul class="actions">
                                <li><a href="{{ page.action_button_link }}" class="button special big">{{ page.action_button }}</a></li>
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </section>

{% block content %}
{% endblock %}
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://github.com/MrSenko" class="icon fa-github"></a></li>
						<li><a href="https://twitter.com/Mr_Senko" class="icon fa-twitter"></a></li>
						<li><a href="https://bitbucket.org/MrSenko" class="icon fa-bitbucket"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 2016 Mr. Senko, Ltd.</li>
						<li>Design: TEMPLATED</li>
					</ul>
				</div>
			</footer>
            {% include 'analytics.html' %}
            {% include 'disqus_script.html' %}
            {% include 'sharing.html' %}
	</body>
</html>
