<!DOCTYPE HTML>
<html>
	<head>
            {% block head %}
                <script src="https://cdn.optimizely.com/js/5899451178.js"></script>
		<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
                <meta name="google-site-verification" content="fDhfvNtsr-Oqa-_-cJ_1viTvXhEWDFXRDC8oZnXV-To" />
		<!--[if lte IE 8]><script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/html5shiv.js"></script><![endif]-->
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/skel.min.js"></script>
		<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/skel-layers.min.js"></script>
                <script src="{{ SITEURL }}/js/list-v1.2.0.min.js"></script>
		{% include "init.js.html" %}
		<noscript>
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/skel.css" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style-xlarge.css" />
		</noscript>

                <!-- Code highlight color scheme -->
                {% if COLOR_SCHEME_CSS %}
                    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
                {% else %}
                    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/darkly.css" rel="stylesheet">
                {% endif %}
            {% endblock %}

            {% block twitter_card %}
                {% for name,link in SOCIAL if name in ['twitter'] %}
                    <meta name="twitter:site" content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
                    <meta name="twitter:title" content="{{ SITENAME }}">
                    <meta name="twitter:description" content="{{ SITESUBTITLE|default('View the blog.') }}">
                    <meta name="twitter:card" content="summary_large_image">
                    <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/twitter_card.jpg">
                {% endfor %}
            {% endblock twitter_card %}

            {% block opengraph %}
                <meta property="og:site_name" content="{{ SITENAME }}">
                <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/og_image.jpg">
            {% endblock opengraph %}
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
                            <a href="{{ SITEURL }}/">
				<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" />
                            </a>
				<nav id="nav">
					<ul>
						<li><strong><a href="{{ SITEURL }}/#subscriptions">Our offer</a></strong></li>
						<li><strong><a href="{{ SITEURL }}/blog/">Blog</a></strong></li>
						<li><strong><a class="fa fa-twitter" href="https://twitter.com/Mr_Senko"></a></strong></li>
					</ul>
				</nav>
			</header>

            <section id="banner">
                {% block banner %}
                    {% if page and page.banner_title1 %}
                        <h2>{{ page.banner_title1 }}</h2>
                        {% if page.banner_title2 %}
                            <br/>
                            <h2>{{ page.banner_title2 }}</h2>
                        {% endif %}
                        <p>{{ page.banner_subtitle }}</p>

                        {% if page.action_button %}
                            <ul class="actions">
                                <li><a href="{{ page.action_button_link }}" class="button special big">{{ page.action_button }}</a></li>
                            </ul>
                        {% endif %}

                    {% endif %}
                {% endblock %}
            </section>

{% block content %}
{% endblock %}
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
                                    {% if SOCIAL %}
					<ul class="icons">
                                            {% for name,link in SOCIAL %}
						<li><a href="{{ link }}" class="icon fa fa-{{ name|lower }}"></a></li>
                                            {% endfor %}
					</ul>
                                    {% endif %}
					<ul class="copyright">
						<li>&copy; 2016-2018 Mr. Senko</li>
						<li><a href="/legal/">Legal notice</a></li>
					</ul>
				</div>
			</footer>
            {% include 'analytics.html' %}
            {% include 'disqus_script.html' %}
	</body>
</html>
